.quiz-finish-card-solver {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 50%;

    min-height: 600px;
    max-height: 800px;
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto ;

    box-shadow: 44px 52px 112px 29px rgba(0,0,0,0.66);

    text-align: center;

    margin-top: 20px;

}



.quiz-finish-card-solver-statistics {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.quiz-finish-card-solver-like {
    background-color: blue;
    width: 16%;
    color: white;
    height: 35px;
    font-weight: bold;
}

.quiz-finish-card-solver-dislike {
    background-color: red;
    width: 16%;
    color: white;
    height: 35px;
    font-weight: bold;
}



@media screen and (max-width: 700px) {
    .quiz-finish-card-solver {
        width: 90%;
    }

    .quiz-finish-card-solver-dislikes {
        width: 25%;
    }

    .quiz-finish-card-solver-likes {
        width: 25%;
    }

    

}

@media screen and (max-width: 1080px ) and (min-width: 701px) {
    .quiz-finish-card-solver {
        width: 60%;
    }

    .quiz-finish-card-solver-dislikes {
        width: 20%;
    }

    .quiz-finish-card-solver-likes {
        width: 20%;
    }

    
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
    .quiz-finish-card-solver h1 {
        font-size: 12px;
    }

    .quiz-finish-card-solver h2 {
        font-size: 10px;
    }

    .quiz-home-card-solver button {
        font-size: 12px;
    }

    
}

@media screen and (max-width: 700px) {
    .quiz-finish-card-solver h1 {
        font-size: 18px;
    }

    .quiz-finish-card-solver h2 {
        font-size: 15px;
    }


    .comment-card-finish-quiz {
        width: 100%;
    }

    

    
}

 .p-3 {
    margin-top: 10px;
}

