.navbar {
    background-color: rgba(17, 67, 99, 255) !important;
    width: 100% !important;
    margin: 0 0 !important;
}

.navLink {
    color: white !important;
    font-weight: bold !important;
}