.quiz-home-card-solver {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 50%;

    min-height: 600px;
    max-height: 800px;
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto ;

    box-shadow: 44px 52px 112px 29px rgba(0,0,0,0.66);

    text-align: center;

}

/* ALL COMMENTS */
.quiz-home-card-solver-comments {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* SINGLE COMMENT */
.quiz-home-card-solver-comment {
    width: 100%;
    background-color: white;
    height: 50px;
    text-align: left;
    border-radius: 10px;
}

.quiz-home-card-solver>button {
    background-color: rgb(1, 59, 71);
    border-radius: 20px;
    color: white;
    width: 50%;
    margin-top: 20px;
    height: 50px;
    font-weight: bold;
}

.quiz-home-card-solver-statistics {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.quiz-home-card-solver-likes {
    background-color: blue;
    border-radius: 15px;
    color: white;
    width: 15%;
    font-weight: bold;
    
}

.quiz-home-card-solver-dislikes {
    background-color: red;
    color: white;
    border-radius: 15px;
    width: 15%;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .quiz-home-card-solver {
        width: 90%;
    }

    .quiz-home-card-solver-dislikes {
        width: 25%;
    }

    .quiz-home-card-solver-likes {
        width: 25%;
    }

    .quiz-home-card-solver-comment>h2 {
        font-size: 18px;
    }

}

@media screen and (max-width: 1080px ) and (min-width: 701px) {
    .quiz-home-card-solver {
        width: 60%;
    }

    .quiz-home-card-solver-dislikes {
        width: 20%;
    }

    .quiz-home-card-solver-likes {
        width: 20%;
    }

    .quiz-home-card-solver-comment>h2 {
        font-size: 20px;
    }
}





