.cardAllQuizes {
    margin-top: 20px;
}

.containerAllQuizCards {
    width: 1000px;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.titleCardAllQuizes {
    display: grid;
    grid-template-columns: 25% 75%;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: -30px;
}

.cardDescriptionAllQuizesFooter {
    text-align: center;
    color: white;
}

.cardDescriptionAllQuizesFooter a {
    text-decoration: none;

    font-size: 18px;

    color: #614040;
}




.footerCardAllQuizes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.likesH3 {
    color: green
}

.dislikesH3 {
    color: red
}

.footerCardAllQuizes button {
    background-color: rgb(149, 149, 6);
    border-radius: 20px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    align-items: center;
    width: 50%;
}







.gradientCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 30px;


}


@media screen and (max-width: 700px) {


    .gradientCards {
        display: grid;
        grid-template-columns: 100%;
        gap: 32px;
        padding: 30px;


    }
}

.containerTitleAllQuizes {
    text-align: center;
    padding: 0 !important;
    margin-bottom: 40px;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 60px;
}

.cardAllQuizes {
    max-width: 550px;
    border: 0;
    width: 100%;
    margin-inline: auto;
}

.containerCardAllQuizes {
    position: relative;
    border: 2px solid transparent;
    background: -webkit-linear-gradient(#12367d, #620ea1);;
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;


}


.imgIcon {
    width: 80px;

}

.bgGreenBox,
.bgWhiteBox,
.bgYellowBox,
.bgBlueBox {
    position: relative;
}

.bgGreenBox::after,
.bgWhiteBox::after,
.bgYellowBox::after,
.bgBlueBox::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
}

.bgGreenBox::after {
    background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bgWhiteBox::after {
    background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bgYellowBox::after {
    background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bgBlueBox::after {
    background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.cardTitleAllQuizes {
    font-weight: 600;
    color: white;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 8px;
}

.cardDescriptionAllQuizes {
    font-weight: 600;
    line-height: 32px;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 16px;
    max-width: 470px;
}



@media screen and (max-width: 1200px) {
    .allQuizesAsideMenu {
        display: none;
    }

    .allQuizesPage {
        display: block;
    }

    .containerAllQuizCards {
        width: 100%;
    }

    .allQuizesMainPage {
        width: 100%;
        display: block;
    }

    .titleCardAllQuizes {
        display: block;
    }



    .gradientCards {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 400px) {
    .footerCardAllQuizes h3 {
        font-size: 14px;
    }

    .footerCardAllQuizes button {
        font-size: 14px;
    }
}

@media screen and (max-width: 340px) {
    .footerCardAllQuizes h3 {
        font-size: 12px;
    }

    .footerCardAllQuizes button {
        font-size: 12px;
    }
}