.homeDiv {
  width: 100%;
  opacity: 0.8;


  min-height: 620px;

  background: -webkit-linear-gradient(#3473f3, #9e41e5);

  display: grid;
  grid-template-columns: 25% 35% 25%;

  gap: 7%
}

.newsFeed {
  background-color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}


.cardBody {

  padding: 1.25rem;


}

.cardTitle {}

.cardSubtitle {}



p {
  display: block;

  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
  width: 90%;
  max-height: 200px;


}


.quizesDiv {
  width: 100%;
}


.quizCard {

  background-color: #fff;
  margin-top: 20px;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 20px;
  width: 90%;
  max-height: 200px;
  justify-content: left;
  align-items: left;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

}

.quizCard h5,
h6,
p,
a,
h4 {
  margin-left: 10px;
}

.quizCard h4 {
  color: rgb(102, 101, 101);
  border-bottom: 1px solid black
}

.quizCard a {
  text-decoration: underline;
}

.quizCard h6 {
  color: grey;
}


.ghostRound {
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 50%;
}

.ghostRound:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

/* -------------- */



.ourTeam {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}

.ourTeam .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  z-index: 1;
  position: relative;
}

.ouTteam .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.ourTeam:hover .picture::before {
  height: 100%;
}

.ourTeam .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.ourTeam .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.ourTeam:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.ourTeam .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.ourTeam .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.ourTeam:hover .social {
  bottom: 0;
}

.ourTeam .social li {
  display: inline-block;
}

.ourTeam .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.ourTeam .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}


/* .h1Home {
  font-size: 64px;
  font-family: sans-serif;
  color: hsl(0 0% 98%);
}

.underlined {
  position: relative;
}

.underlineMask:after {
  content: '';
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(280 80% 50%);
  --spread: 140deg;
  --start: 290deg;
  mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
}


.underlineOverflow {
  display: inline-block;
  overflow: hidden;
  padding-bottom: clamp(1rem, 2vmin, 2rem);
}

.underlineOverflow:after {
  content: '';
  position: absolute;
  top: 100%;
  height: 150%;
  aspect-ratio: 2.5 / 1;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 50%;
  border: 6px solid hsl(10 80% 50%);
}

.underlineClip:after {
  content: '';
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(130 80% 50%);
  clip-path: polygon(0 0, 50% 50%, 100% 0);
} */

.homeDiv2 {
  width: 100%;
  opacity: 0.8;


  min-height: 620px;

  background: -webkit-linear-gradient(#3473f3, #9e41e5);

  display: grid;
  grid-template-columns: 40% 53%;

  gap: 7%
}

.containerHome {
  width: 100%;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin-right: 20px;
}

.h1Home {
  font-size: 120px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;
  margin-top: 70px;
}

.h1Home:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}

.pHome {
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: MintCream;
  letter-spacing: .5px;
}

.h3Home {
  font-size: 36px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;
}