.allQuizesPage {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 20px;

}


.allQuizesAsideMenu {

    border-radius: 10px;
    background-color: aqua;
    border-color: black;
    border: 2px solid black;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    min-width: 150px;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    position: sticky;
}

.allQuizesAsideMenu a {
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.allQuizesAsideMenu ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.allQuizesUl {
    display: grid;
    text-align: center;
    width: 100%;
}


@media screen and (max-width: 1200px) {
    .containerTitleAllQuizes {
        display: none;
    }
}

.containerTitleAllQuizes {
    text-align: center;
    padding: 0 !important;
    margin-bottom: 40px;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 60px;
}

:root {
    --button-background: dodgerblue;
    --button-color: white;

    --dropdown-highlight: dodgerblue;
    --dropdown-width: 160px;
    --dropdown-background: white;
    --dropdown-color: black;
}

/* Center the planet */

/* Boring button styles */
a.button {
    /* Frame */
    padding: 20px 28px;
    border-radius: 50px;
    box-sizing: border-box;

    /* Style */
    border: none;
    background: var(--button-background);
    color: var(--button-color);
    font-size: 24px;
    cursor: pointer;
}

a.button:active {
    filter: brightness(75%);
}

/* Dropdown styles */
.dropdown {

    padding: 0;
    /* justify-content: ; */

}

.dropdown summary {
    list-style: none;
    list-style-type: none;
}

.dropdown>summary::-webkit-details-marker {
    display: none;
}

.dropdown summary:focus {
    outline: none;
}

.dropdown summary:focus a.button {
    border: 2px solid white;
}

.dropdown summary:focus {
    outline: none;
}

.dropdown ul {
    position: absolute;
    margin: 20px 0 0 0;
    padding: 20px 0;
    width: var(--dropdown-width);
    box-sizing: border-box;
    z-index: 2;

    background: var(--dropdown-background);
    border-radius: 6px;
    list-style: none;
}

.dropdown ul li {
    padding: 0;
    margin: 0;
}

.dropdown ul li a:link,
.dropdown ul li a:visited {
    display: inline-block;
    padding: 10px 0.8rem;
    width: 100%;
    box-sizing: border-box;

    color: var(--dropdown-color);
    text-decoration: none;
}

.dropdown ul li a:hover {
    background-color: var(--dropdown-highlight);
    color: var(--dropdown-background);
}

/* Dropdown triangle */
.dropdown ul::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--dropdown-background) transparent;
}


/* Close the dropdown with outside clicks */
.dropdown>summary::before {
    display: none;
}

.dropdown[open]>summary::before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

